header{
    width: 100%;
}
ul{
    display: flex;
    justify-content: center;
}
li{
    list-style:none;
    padding: 1em;
}
aside{
    width: 30%;
}
main{
    width: 70%;
}
body{
    display: flex;
    flex-flow: wrap;
}
